.about {
  font-family: 'Lato', sans-serif;
  line-height: 26px;
  font-size: 18px;
  /* max-height: 100vh; */
}

/* //////////////about-section-a //////////// */
/* ////////////////////////////////////////////// */

.about-section-a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: justify;
  min-width: 50px;
}

.about-section-a .about-info {
  order: 2;
  min-width: 350px;
  padding: 30px;
  border-bottom: rgba(114, 114, 114, 0.322) 1px solid;
}

.about-section-a .about-info-svg {
  order: 1;
}

.about-section-a .about-info-svg > img {
  width: 360px;
  height: 300px;
}

.about-info .logo {
  margin-bottom: 20px;
}

.about-info .logo h1 {
  padding: 0px;
  margin: auto;
}

/* //////////////about-section-d //////////// */
/* ////////////////////////////////////////////// */

.about-section-d {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  align-items: center;
  text-align: justify;
  min-width: 50px;
  /* background-color: hotpink; */
}

/* ////////////////////////////////////////////// */

.about-section-d .about-dev-info {
  order: 2;
  min-width: 350px;
  padding: 30px;
  /* border-bottom: rgba(167, 167, 167, 0.322) 1px solid; */
  /* background-color: brown; */
}

.about-section-d .about-dev-info .logo {
  padding-bottom: 17px;
}
.about-section-d .about-dev-info .logo h1 {
  margin: -10px;
  padding-bottom: 10px;
}

.about-section-d .logo {
  padding: 0;
  margin: 0;
}

/* ////////////////////////////////////////////// */

.about-section-d .about-dev-img {
  order: 1;
  /* background-color: rgb(36, 4, 4); */
}

.about-section-d .about-dev-img > img {
  width: 260px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 1px 3px 10px rgb(15, 15, 15);
}
